langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-openai
python-dotenv
pypdf
pymupdf
sentence-transformers
faiss-cpu
unstructured
openpyxl
pandas
docx2txt
jq
streamlit
rank-bm25
